---
// Damen Brands
import angels from "../assets/angels.png";
import opus from "../assets/opus.png";
import someday from "../assets/someday.png";
import richroyal from "../assets/richandroyal.png";
import monari from "../assets/monari.png";
import marcopolo from "../assets/marcopolo.png";
import moremore from "../assets/moreandmore.png";
import bettybarclay from "../assets/bettybarclay.png";
import amberjune from "../assets/amberandjune.png";
import gilbret from "../assets/gilbret.png";
import fuchsschmitt from "../assets/fuchsschmitt.png";
import cartoon from "../assets/cartoon.png";
import apricot from "../assets/apricot.png";
import jdy from "../assets/jacquelinedeyong.png";
import comma from "../assets/comma.png";
import smithsoul from "../assets/smithsoul.png";
import cambio from "../assets/cambio.png";
import mac from "../assets/mac.png";
import raphaela from "../assets/raphaela.png";
import codello from "../assets/codello.png";
import rabe from "../assets/rabe.png";

// Herren Brands 
import pmelegend from "../assets/pmelegend.png";
import noexcess from "../assets/noexcess.png";
import camelactive from "../assets/camelactive.png";
import carlgross from "../assets/carlgross.png";
import clubofgents from "../assets/clubofgents.png";
import olymp from "../assets/olymp.png";
import brax from "../assets/brax.png";
import fynchhatton from "../assets/fynchhatton.png";
import chasin from "../assets/chasin.png";
import jackjones from "../assets/jackandjones.png";


---

<section class="logo-slider-container mb-[130px] mt-[50px] py-[4%] px-[30px] lg:px-0">
    <div class="flex flex-col justify-center items-center gap-5">
        <h2><span class="hidden lg:flex leading-none pb-2">DREI ETAGEN, UNENDLICHE</span>MARKENVIELFALT</h2>
        <p class="text-black py-2 font-light">Das beste aus der Modewelt auf 3 Etagen</p>
        <p class="lg:max-w-[600px] font-extralight text-black">Wir beschränken uns nicht auf die bekannte Namen, sondern setzen auch auf spezielle Geheimtipps.</p>
        <p class="text-black py-2 font-light mt-10">Homeware und Wäsche</p>
        <p class="lg:max-w-[800px] font-extralight text-black">Wir kennen uns wirklich aus und zeigen Ihnen, wie sich Sportlichkeit, Coolness und ein Hauch Eleganz zu einem alltagstauglichen Look kombinieren lassen. Freuen Sie sich auf Inspiration und Top-Service. Und – wenn es schnell gehen soll: Das können wir auch.</p>
    </div>
    <div class="button-group mt-[70px] mb-[30px]">
        <button id="btn-damen" class="active">Damen</button>
        <button id="btn-herren">Herren</button>
    </div>

    
    <div class="swiper-container" id="swiper-damen">
        <div class="swiper">
            <div class="swiper-wrapper">
  
                            <!-- Slide 1 -->
                            <div class="swiper-slide mt-[50px]">
                                <div class="grid grid-cols-3 grid-rows-2 gap-4 place-items-center">
                                    <img src={opus.src} width="175" loading="lazy" />
                                    <img src={someday.src} width="175" loading="lazy" />
                                    <img src={richroyal.src} width="175" loading="lazy" />
                                    <img src={monari.src} width="175" loading="lazy" />
                                    <img src={marcopolo.src} width="175" loading="lazy" />
                                    <img src={angels.src} width="175" loading="lazy" />
                                </div>
                            </div>
                
                            <!-- Slide 2 -->
                            <div class="swiper-slide mt-[50px]">
                                <div class="grid grid-cols-3 grid-rows-2 gap-4 place-items-center">
                                    <img src={moremore.src} width="175" loading="lazy" />
                                    <img src={bettybarclay.src} width="175" loading="lazy" />
                                    <img src={amberjune.src} width="175" loading="lazy" />
                                    <img src={gilbret.src} width="175" loading="lazy" />
                                    <img src={fuchsschmitt.src} width="175" loading="lazy" />
                                    <img src={rabe.src} width="175" loading="lazy" />
                                </div>
                            </div>
                
                            <!-- Slide 3 -->
                            <div class="swiper-slide mt-[50px]">
                                <div class="grid grid-cols-3 grid-rows-2 gap-4 place-items-center">
                                    <img src={cartoon.src} width="175" loading="lazy" />
                                    <img src={apricot.src} width="175" loading="lazy" />
                                    <img src={jdy.src} width="175" loading="lazy" />
                                    <img src={comma.src} width="175" loading="lazy" />
                                    <img src={smithsoul.src} width="175" loading="lazy" />
                                    <img src={cambio.src} width="175" loading="lazy" />
                                </div>
                            </div>
                
                            <!-- Slide 4 -->
                            <div class="swiper-slide mt-[50px]">
                                <div class="grid grid-cols-3 grid-rows-2 gap-4 place-items-center">
                                    <img src={mac.src} width="175" loading="lazy" />
                                    <img src={angels.src} width="175" loading="lazy" />
                                    <img src={raphaela.src} width="175" loading="lazy" />
                                    <img src={codello.src} width="175" loading="lazy" />
                    
                                    
                                </div>
                            </div>
                

                        </div>
                    </div>
                </div>
    
    <div class="swiper-container hidden" id="swiper-herren">
        <div class="swiper">
            <div class="swiper-wrapper">
                            <!-- Slide 1 -->
                            <div class="swiper-slide mt-[50px]">
                                <div class="grid grid-cols-3 grid-rows-2 gap-4 place-items-center">
                                    <img src={pmelegend.src} width="175" loading="lazy" />
                                    <img src={noexcess.src} width="175" loading="lazy" />
                                    <img src={camelactive.src} width="175" loading="lazy" />
                                    <img src={carlgross.src} width="175" loading="lazy" />
                                    <img src={clubofgents.src} width="175" loading="lazy" />
                                    <img src={olymp.src} width="175" loading="lazy" />
                                </div>
                            </div>
                
                            <!-- Slide 2 -->
                            <div class="swiper-slide mt-[50px]">
                                <div class="grid grid-cols-3 grid-rows-2 gap-4 place-items-center">
                                    <img src={brax.src} width="175" loading="lazy" />
                                    <img src={fynchhatton.src} width="175" loading="lazy" />
                                    <img src={chasin.src} width="175" loading="lazy" />
                                    <img src={jackjones.src} width="175" loading="lazy" />
                                   
                                </div>
                            </div>
                
                        
                
                        </div>
                    </div>
                </div>
    

    <!-- 🔹 Separater Button-Container -->
    <div class="swiper-navigation-container">
        <button class="custom-prev">←</button>
        <button class="custom-next">→</button>
    </div>
</section>



<style>

h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    letter-spacing: 1px;
}


img {
    padding: 20px 0;
    max-width: 240px;
    max-height: 76px;
}

.logo-slider-container {
    text-align: center;
    position: relative;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.button-group button {
    padding: 7px 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
}

.button-group button.active {
    border-bottom: 2px solid black;
   
}


.swiper-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.versteckt {
    display: none;
}


.swiper-navigation-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.custom-prev,
.custom-next {
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}



@media screen and (max-width: 769px) {
    h2 {
        font-size: 30px;
    }

    .logo-slider-container {
        display: none;
    }

    
}
</style>

<script src="../libs/logo_swiper.js"></script>